<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Einkauf
    </ion-title>
    <ion-button (click)="resetEverything()" slot="end" expand="block" fill="clear" shape="round">
      Zurücksetzen
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="full-amount">
    <label>Gesamtbetrag:</label>
    <input type="number" [(ngModel)]="fullPaidAmount" (keyup)="calcStrippedAmount(); calcLeftoverFullAmount()">
    <ion-button (click)="resetFullPaidAmount()" expand="block" fill="clear" shape="round">
      auf 0
    </ion-button>
  </div>

  <div class="person">
    <h2>Personen</h2>
    <div class="person-header">
      <input type="text" [(ngModel)]="personName" (keydown)="addPersonByEnter($event)">
      <ion-button (click)="addPerson()" expand="block" fill="clear" shape="round">
        Person hinzufügen
      </ion-button>
    </div>

    <table class="person-table">
      <tr>
        <td><b>Name</b></td>
        <td class="already-paid-label"><b>bereits gezahlt&nbsp;</b>
          <div [style]="leftoverFullAmount === 0 ? 'color: white' : 'color: red'"><b>({{ leftoverFullAmount }})</b>
          </div>
        </td>
        <td><b>eigener Einkauf</b></td>
        <td><b>Gruppeneinkauf</b></td>
        <td><b>Bilanz</b></td>
      </tr>
      <tr *ngFor="let person of persons" class="person-box">
        <td><span>{{ person.name }}</span></td>
        <td><input [(ngModel)]="person.paidAmount" (keyup)="calcLeftoverFullAmount()" type="number"></td>
        <td><input [(ngModel)]="person.selfAmount" (keyup)="calcStrippedAmount()" type="number"></td>
        <td><span>{{ person.groupAmount }}</span></td>
        <td><span *ngIf="leftoverFullAmount === 0" [style]="person.balance < 0 ? 'color: green' : 'color: red'">
            {{ (person.balance < 0 ? (person.balance * (-1)).toFixed(2) : person.balance.toFixed(2)) }}
          </span></td>
      </tr>
    </table>
  </div>

  <div class="group">
    <h2>Gruppen</h2>
    <div class="group-header">
      <ion-button (click)="openAddGroupModal()" expand="block" fill="clear" shape="round">
        Gruppe hinzufügen
      </ion-button>
    </div>
    <table class="group-table">
      <tr *ngFor="let group of groups">
        <td *ngFor="let groupMember of group.groupMembers">
          {{ groupMember.name }}
        </td>
        <td>
          <input [(ngModel)]="group.groupAmount" type="number"
            (keyup)="distributeGroupAmount(group); calcStrippedAmount()">
        </td>
      </tr>
    </table>
  </div>
</ion-content>