.person-header{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.full-amount {
  display: flex;
  flex-direction: row;

  label {
    margin: auto 10px;
  }
}

.person-table {
  margin: 10px;

  td {
    padding: 2px 5px;
  }
}

.already-paid-label {
  display: flex;
  flex-direction: row;
}

.group-header {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.group-table {
  margin: 10px;

  td {
    padding: 2px 5px;
  }
}